<MissionPackageManifest version="2">
    <Configuration>
        <Parameter name="uid" value="__UUID"/>
        <Parameter name="name" value="__TAK_ALIAS--AutoEnroll-Package--__TAK_URI"/>
        <Parameter name="onReceiveDelete" value="true"/>
    </Configuration>
    <Contents>
        <Content ignore="false" zipEntry="server.pref"/>
        <Content ignore="false" zipEntry="truststore-__TRUSTSTORE.p12"/>
    </Contents>
</MissionPackageManifest>