<?xml version='1.0' encoding='ASCII' standalone='yes'?>
<preferences>
    <preference version="1" name="cot_streams">
        <entry key="count" class="class java.lang.Integer">1</entry>
        <entry key="description0" class="class java.lang.String">__TAK_ALIAS:__TAK_URI</entry>
        <entry key="enabled0" class="class java.lang.Boolean">true</entry>
        <entry key="connectString0" class="class java.lang.String">__TAK_URI:__TAK_COT_PORT:ssl</entry>
    </preference>
    <preference version="1" name="com.atakmap.app_preferences">
        <entry key="displayServerConnectionWidget" class="class java.lang.Boolean">true</entry>
        <entry key="locationTeam" class="class java.lang.String">Blue</entry>
        <entry key="caLocation" class="class java.lang.String">cert/truststore-__TRUSTSTORE.p12</entry>
        <entry key="caPassword" class="class java.lang.String">__CA_PASS</entry>
        <entry key="certificateLocation" class="class java.lang.String">cert/__USERNAME.p12</entry>
        <entry key="clientPassword" class="class java.lang.String">__CERT_PASS</entry>
    </preference>
</preferences>