<?xml version='1.0' encoding='ASCII' standalone='yes'?>
<preferences>
    <preference version="1" name="cot_streams">
        <entry key="count" class="class java.lang.Integer">1</entry>
        <entry key="description0" class="class java.lang.String">__TAK_ALIAS:__TAK_URI</entry>
        <entry key="enabled0" class="class java.lang.Boolean">true</entry>
        <entry key="connectString0" class="class java.lang.String">__TAK_URI:__TAK_COT_PORT:ssl</entry>
        <entry key="enrollForCertificateWithTrust0" class="class java.lang.Boolean">__TRUSTED_ENROLL</entry>
        <entry key="useAuth0" class="class java.lang.Boolean">true</entry>
        <entry key="cacheCreds0" class="class java.lang.String">Cache credentials</entry>
        <entry key="caLocation0" class="class java.lang.String">cert/truststore-__TRUSTSTORE.p12</entry>
        <entry key="caPassword0" class="class java.lang.String">__CA_PASS</entry>
    </preference>
    <preference version="1" name="com.atakmap.app_preferences">
        <entry key="displayServerConnectionWidget" class="class java.lang.Boolean">true</entry>
        <entry key="locationTeam" class="class java.lang.String">Blue</entry>
    </preference>
</preferences>