[Unit]
Description=Nginx [Docker]
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=__WORK_PATH
ExecStart=/usr/local/bin/__DOCKER_COMPOSE -f __DOCKER_COMPOSE_YML -d up
ExecStop=/usr/local/bin/__DOCKER_COMPOSE -f __DOCKER_COMPOSE_YML down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
