#!/bin/bash

export TAK_ALIAS=__TAK_ALIAS
export TAK_NIC=__NIC
export TAK_CA=__TAK_CA
export TAK_CITY=__CITY
export TAK_STATE=__STATE
export TAK_ORGNIZATION=__ORGANIZATION
export TAK_ORGANIZATIONAL_UNIT=__ORGANIZATIONAL_UNIT
export TAK_CAPASS=__CAPASS
export TAK_PASS=__PASS
export TAK_URL=__URL
export TAK_IP=__IP
export TAK_COT_PORT=__TAK_COT_PORT
export TAK_PATH=__TAK_PATH
