#!/bin/bash

export TAK_ALIAS=__TAK_ALIAS
export TAK_NIC=__TAK_NIC
export TAK_CA=__TAK_CA
export TAK_CITY=__TAK_CITY
export TAK_STATE=__TAK_STATE
export TAK_ORGNIZATION=__TAK_ORGANIZATION
export TAK_ORGANIZATIONAL_UNIT=__TAK_ORGANIZATIONAL_UNIT
export TAK_CAPASS=__TAK_CAPASS
export TAK_PASS=__TAK_PASS
export TAK_URL=__TAK_URL
export TAK_IP=__TAK_IP
export TAK_COT_PORT=__TAK_COT_PORT
export TAK_PATH=__TAK_PATH
